/*
Style sheet
Created by: Ayesha Bashir
*/
/*
***************************************************************
BROWSER SPECIFICATION STYLES
***************************************************************
*/

html{
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    min-height: 100%;
    scroll-behavior: smooth;
}
body{
    font-family: 'Poppins' , 'Open Sans' , serif , Arial;
    /*background: linear-gradient(180deg, #EBF0F3 24.26%, #FFFFFF 100%);*/
    background: #E5E5E5;
    padding-top: 66px;
    /*overflow-x: hidden;*/
}

/*Font css*/
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular.ttf');
    font-weight: normal
}
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Bold.ttf');
    font-weight: bold;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-ExtraBold.ttf');
    font-weight: 900;
}
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Regular.ttf');
    font-weight: normal
}
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Bold.ttf');
    font-weight: bold;
}


* {
    box-sizing: border-box;
    outline: none !important;
}
/* width */
::-webkit-scrollbar {
    width: 6px;
}
/* Track */
::-webkit-scrollbar-track {
    background: #ccc;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #0A6ADA;
}
::-moz-selection { background: #0A6ADA; color: #fff}
::selection { background: #0A6ADA; color: #fff}
ul {
    list-style: none;
    margin: 0;
    padding: 0
}
/*
***************************************************************
Side Menu Style
***************************************************************
*/
.side-wrapper-s{
    position: fixed;
    top: 30px;
    left: 15px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
    -webkit-box-flex: 2;
    -moz-box-flex: 2;
    display: block;
    width: 250px;
    min-height: 100vh;
    color: #fff;
    background: linear-gradient(141.08deg, #0A69DA 32.24%, #0856C8 115.93%, #0231A5 164.9%);
    border-radius: 12px;
    padding: 20px;
    overflow-y: auto;
    z-index: 9999;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.main-wrapper.toggle .side-wrapper-s {
    width: 80px;
    padding: 20px 10px;
}
.side-menu-header-s{
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    height: 90px;
    margin-bottom: 10px;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.main-wrapper.toggle .side-menu-header-s{
    justify-content: center;
}
.side-menu-header-s .side-menu-logo-s{
    display: inline-block;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.main-wrapper.toggle .side-menu-header-s .side-menu-logo-s{
    display: none;
}
.side-menu-header-s .side-menu-logo-s img{
    filter: brightness(0) invert(1);
    width: auto;
    max-width: 150px;
    height: auto;
    max-height: 100%;
    object-fit: contain;
}
.side-menu-header-s .side-menu-toggle-s, button.mobile-nav-btn{
    display: inline-block;
    background: none !important;
    border: none !important;
    box-shadow: none !important;
}
.side-menu-header-s .side-menu-toggle-s img{
    width: 24px;
}
.side-menu-s, .mobile-nav{
    position: relative;
    display: block;
    width: 100%;
}
.side-menu-s li, .mobile-nav li{
    display: block;
    margin: 10px 0;
    width: 100%;
}
.side-menu-s li a, .mobile-nav li a{
    display: inline-block;
    width: 100%;
    color: #fff;
    background: transparent;
    border-radius: 25px;
    padding: 8px 20px;
    font-size: 15px;
    font-weight: bold;
    text-transform: capitalize;
    text-decoration: none !important;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.side-menu-s li a:hover, .side-menu-s li.active a, .mobile-nav  li a:hover, .mobile-nav  li.active a{
    background: #0076FF;
}
li.nav-item.mobile-nav-btn-div a:hover{
    background: transparent !important;
}
.side-menu-s li a span, .mobile-nav li a span{
    display: inline-block;
    margin-left: 10px;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.main-wrapper.toggle .side-menu-s li a span{
    display: none;
}
.side-menu li a i{
    display: inline-block;
    vertical-align: middle;
}
li.nav-item.mobile-nav-btn-div {
    display: none;
}
/* Content */
.content-wrapper {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    width: calc(100% - 250px - 15px);
    margin-left: auto;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.main-wrapper.toggle .content-wrapper {
    width: calc(100% - 80px - 15px);
}
.custom-container{
    display: block;
    width: 100%;
    padding: 0 60px;
}
.custom-container-2{
    display: block;
    width: 100%;
    padding: 0 0 0 60px;

}
header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 430px;
    background: linear-gradient(168.05deg, #023B96 5.04%, #022357 91.26%);
    z-index: 998;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
header.scrolled{
    height: 110px;
}
.header{
    position: fixed;
    top: 0;
    right: 60px;
    width: calc(100% - 250px - 120px);
    display: flex;
    justify-content: right;
    z-index: 999;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.main-wrapper.toggle .header{
    width: calc(100% - 80px - 120px);
    justify-content: right;
}
.header.scrolled:before{
    display: none;
}
.header .nav-tabs {
    border: none;
    padding-top: 150px;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.header.scrolled .nav-tabs {
    padding-top: 45px;
}
.header .nav-tabs .nav-link {
    color: #fff !important;
    border: none !important;
    border-radius: 8px !important;
    margin-right: 10px;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
}
.header .nav-tabs .nav-link div{
    display: block;
    font-size: 14px;
    margin-top: 10px;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.header.scrolled .nav-tabs .nav-link div{
    display: none;
}
.header .nav-tabs .nav-item.show .nav-link, .header .nav-tabs .nav-link.active {
    background-color: #0A6ADA;
}
.right-content {
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;
}
.right-content .dropdown > button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    color: #E2E8F2;
    background: rgba(108, 134, 177, 0.2) !important;
    border: none;
    border-radius: 25px;
    backdrop-filter: blur(10px);
}
.right-content {
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;
}
.right-content .dropdown > button img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
    overflow: hidden;
}
.right-content .dropdown:last-of-type {
    margin-left: 10px;
}
.header.scrolled {
    z-index: 700;
}
header.scrolled {
    height: 110px;
    z-index: 650;
}
.tab-content-wrapper {
    position: relative;
    margin-top: 50px;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 430px;
    background: linear-gradient(
            168.05deg
            , #023B96 5.04%, #022357 91.26%);
    z-index: 100;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.price-range-slider .range-bar {
    border: none;
    position: relative;
}
.price-range-slider .range-bar .ui-slider-handle {
    position: absolute;
}
.price-range-slider .range-bar {
    width: 97%;
}
header.inner-header {
    height: 80px;
}
.inner-header-menu .nav-tabs {
    border: none;
    padding-top: 20px;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.inner-header-menu .right-content {
    align-items: center;
}
/*
***************************************************************
Admin content Section Style
***************************************************************
*/

.stat {
    background-color: #ffffff;
    padding: 1.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    border-radius:5px;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    margin-bottom: 50px;
}
.stat:hover {
    -webkit-box-shadow: 5px 15px 20px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 5px 15px 20px 0px rgba(0, 0, 0, 0.1);
    margin-left: -5px;
    margin-right: -5px;
    text-decoration: none;
}
.stat span {
    color: #808080;
}
.stat__amount span {
    font-size: 13px;
    text-transform: uppercase;
    line-height: 0.72rem;
}
.stat__amount h5 {
    font-size: calc(18px + 0.2vw);
    color: #000;
    margin-top: 3px;
}
.stat .stat__media {
    width: 5.72rem;
    height: 5.72rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 100px;
    color: #fff;
}
.bg-yellow {
    color: #000000;
    background-color:#ffab22 !important;
}
.bg-secondary {
    color: #ffffff;
    background-color: #ff5200 !important;
}
.bg-primary {
    color: #ffffff;
    background-color: #0037b4 !important;
}
/*
***************************************************************
Total Consultant page Style
***************************************************************
*/
.table {
    margin-bottom: 1rem;
    width: 100%;
    border-collapse: collapse;
    color: #888;
}
.user-table {
    width: 100%;
    display: inline-block;
    margin: 30px 0 50px;
    border-radius: 5px;
    position: relative;
    background: #fff;
    box-shadow: 0 0 4px 2px rgba(0,0,0,0.06);
}
.user-table tbody tr th {
    font-weight: 400;
}
.modal-dialog {
    max-width: 75%;
    margin: 1.75rem auto;
}
.modal-content {
    height: 550px;
    overflow: auto;
}
.modal-body {
    padding: 2rem 5rem 4rem;
}
.my-wallet {
    width: 100%;
    background: white;
    padding: 30px;
    box-shadow: 0 0 4px 2px rgba(0,0,0,0.06);
    border-radius: 5px;
    margin-top: 20px;
}
.wallet__media {
    margin-right: 15px;
}
.wallet__content span {
    color: #888;
}
.wallet__content h3 {
    font-weight: 600;
    font-size: 1.5rem;
}
.wallet-payment-method {
    margin: 30px 0 20px;
    display: flex;
}
.modal-dialog.wallet-model {
    width: 500px;
    margin: 10rem auto;
}
.modal-dialog.wallet-model .modal-content {
    height: 300px;
}
.add-payment-btn {
    width: 100%;
}
.modal-dialog.wallet-model .modal-body {
    padding: 2rem 3rem;
}
.add-to-account {
    margin-right: 20px;
}
.money-transfer-btn {
    padding: 8px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    color: #022357;
    background: rgba(108, 134, 177, 0.2) !important;
    border: none;
    border-radius: 25px;
    backdrop-filter: blur(10px);
}
form.profile-setting-form {
    width: 100%;
    background: white;
    padding: 50px;
    border-radius: 5px;
    box-shadow: 0 0 4px 2px rgba(0,0,0,0.06);
    margin-top: 30px;
}
form.profile-setting-form h4 {
    margin-bottom: 20px;
}
.profile-picture {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 15px;
    margin-bottom: 20px;
    width: 100px;
    height: 100px;
    font-weight: 700;
    text-transform: uppercase;
    overflow: hidden;
    background: #0037b4;
}
.colum-layout {
    width: 100%;
}
.colum-layout__cell {
    border: 1px solid #e6e6e6;
}
.colum-layout__head {
    padding: 1rem;
    border-bottom: 1px solid #e6e6e6;
    background: #fff;
}
.colum-layout__head span {
    font-weight: 600;
}
.colum-layout__body {
    height: 400px;
    overflow: auto;
}
.selection {
    position: relative;
    border-bottom: 1px solid #e6e6e6;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
    background: white;
}
.subject-div h5 {
    color: #999999;
    font-size: 1rem;
}
.account-setting-btn {
    width: 100%;
}
.add-price-btn {
    width: 100%;
}
button.add-price {
    float: right;
    padding: 8px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    color: #022357;
    background: rgba(108, 134, 177, 0.2) !important;
    border: none;
    border-radius: 25px;
    backdrop-filter: blur(10px);
}
.modal-content.add-price-div {
    height: 470px;
}
.modal-dialog.add-price-wrapper {
    margin: 5rem auto;
}

.calendar-loader {
    position: absolute;
    width: 100%;
    background: rgba(255, 255, 255, 0.5);
    height: 100%;
    z-index: 9;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.calendar-view {
    position: relative;
}
.calendar-view .calendar-view__head {
    margin-bottom: 2rem;
}
.calendar-view .calendar-view__head h4 {
    color: #111111;
    font-weight: 700;
    font-size: calc(16px + 0.13vw);
}
.calendar-view .calendar-view__head .cal-status {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 2.5rem;
}
.box-hint {
    width: 15px;
    height: 15px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
    line-height: 1;
}
.ml-0 {
    margin-left: 0;
}
.calendar-view .calendar-view__head .cal-status .box-hint {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: none;
    margin-right: 0.5rem;
}
.calendar-view .calendar-view__head .cal-status .disabled-box {
    background: #E6E6E6;
}
.calendar-view .calendar-view__head .cal-status p {
    margin-bottom: 0;
    font-size: .95rem;
    text-transform: uppercase;
    color: #111111;
}
.calendar-view .calendar-view__head .cal-status .box-hint {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: none;
    margin-right: 0.5rem;
}
.cal-status .available-box {
    background: #5CE49B;
}
.booked-box {
    background: #FF5200;
}
.cal-status .booked-box {
    background: #ff0000;
}
.note {
    position: relative;
    padding: 0.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.note--secondary {
    color: #FF5200;
}
.mb-5 {
    margin-bottom: 1.25rem;
}
.note::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0.05;
    background-color: currentColor;
    pointer-events: none;
}
.note .icon {
    min-width: 14px;
    height: 14px;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
}
.note p {
    color: inherit;
    margin-bottom: 0;
}
.fc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: 1em;
}
.fc, .fc *, .fc :after, .fc :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.fc-direction-ltr {
    direction: ltr;
    text-align: left;
}
.calendar-view .fc-header-toolbar {
    padding: 1.5rem 1.5rem;
    margin-bottom: 0 !important;
    border: 1px solid #d9d9d9;
    border-bottom: transparent;
}
.available-calender-section {
    height: 500px;
    overflow: auto;
    border-bottom: 1px solid #d9d9d9;
    border-top: 1px solid #d9d9d9;
}
.fc .fc-toolbar {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.fc .fc-toolbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.fc .fc-toolbar.fc-header-toolbar {
    margin-bottom: 1.5em;
}
.calendar-view .fc-header-toolbar .fc-toolbar-chunk:first-child {
    margin-right: auto;
}
.calendar-view .fc-header-toolbar .fc-toolbar-chunk h6 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: calc(13px + 0.1vw);
    text-transform: uppercase;
    color: #111111;
}
.calendar-view__head .col-sm-7 {
    display: flex;
    text-align: right;
}
h2.fc-toolbar-title {
    margin-right: 2.5rem;
    color: #111;
    text-transform: uppercase;
    font-size: calc(13px + 0.1vw);
}
.calendar-view .fc-header-toolbar .fc-toolbar-chunk:first-child{
    margin-right: auto;
}
.calendar-view .fc-header-toolbar .fc-toolbar-chunk h6{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-transform: uppercase;
    color: #111111;
    font-size: calc(13px + 0.1vw);
}
.fc .fc-button-group{
    position: relative;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}
.calendar-view .fc-header-toolbar .fc-toolbar-chunk .fc-button-group{
    border-radius: 0;
}
.calendar-view .fc-header-toolbar .fc-toolbar-chunk .fc-button-group .fc-button-primary {
    color: #111111;
    background-color: #ffffff;
    height: auto;
    padding: 0.25rem .75rem;
    border: 1px solid #111;
    margin: 0 5px;
}
button.fc-today-button.fc-button.fc-button-primary{
    color: #111111;
    background-color: #ffffff;
    height: auto;
    padding: 0.25rem .75rem;
    border: 1px solid #111;
    margin: 0 5px;
}
table, th, td {
    border: 1px solid #d9d9d9;
    border-collapse: collapse;
}
.available-calender-section th, .available-calender-section td {
    text-align: center;
    padding: 20px 10px;
}
.panel-cover.panel--calendar {
    width: 100%;
    background: white;
    padding: 50px;
    border-radius: 5px;
    margin: 20px 0 50px;
    box-shadow: 0 0 4px 2px rgba(0,0,0,0.06);
}
.contact-note {
    text-align: center;
    margin-top: 50px;
}
td.booked {
    background: #ff0000;
}
td.available {
    background: #5CE49B;
}
.profile-picture img {
    object-fit: cover;
    width: 100px;
    height: 100px;
}



@media (min-width: 1299px) and (max-width: 1399px) {
    .stat .stat__media {
        width: 3.72rem;
        height: 3.72rem;
    }
}













