/*
Responsive dashboard Style sheet
Created by: Ayesha Bashir
*/
/*
***************************************************************
BROWSER SPECIFICATION STYLES
***************************************************************
*/

@media (max-width: 768px) {
    .content-wrapper {
        width: 100%;
    }
    .modal {
        z-index: 99999999;
    }
}
@media (max-width: 540px) {
    .page-heading h2 {
        font-size: 1.5rem;
    }
    h4.modal-title {
        font-size: 1rem;
    }
    .modal-dialog {
        max-width: 95%;
    }
    .modal-body {
        padding: 2rem 1rem 4rem;
    }
    .custom-container {
        padding: 0 30px;
    }
    .wallet-payment-method {
        display: block;
    }
    .add-to-account {
        margin-bottom: 20px;
    }
    input#image {
        font-size: 11px;
    }
    form.profile-setting-form {
        padding: 30px;
    }
    .panel-cover.panel--calendar {
        padding: 30px;
    }
    .calendar-view__head .col-sm-7 {
        display: block;
    }
    .calendar-view .fc-header-toolbar .fc-toolbar-chunk h6 {
        display: block;
    }
}
