input[type="radio"] {
    display: none;
}

input[type="radio"]+div {
    height: 30px;
    width: 30px;
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
    background: #FFF;
    border: 1px solid #d2d2d2;
    border-radius: 100%;
    margin-right: 5px;
}

input[type="radio"]+div:hover {
    border-color: #c2c2c2;
}

input[type="radio"]:checked+div {
    background: #68b1ff;
}
